<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Résultats de la zone <%= zoneId %></title>
  </head>
  <body>
    <h1>Résultats de la zone <%= zoneId %></h1>
    <p>Les coordonnées de la zone <%= zoneId %> sont :</p>
    <ul>
      <li>x : <%= coordinates.x %></li>
      <li>y : <%= coordinates.y %></li>
      <li>z : <%= coordinates.z %></li>
    </ul>
  </body>
</html>
